.menu {
	display: none;
}

.menu__body {
	position: fixed;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 5000;
	transform: translateX(100%);
}

.menu__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 40px;
	margin-top: 120px;
	font-size: 26px;
}

.menu__link:hover {
	color: var(--hover-color);
	transition: var(--transition-btn);
}

.menu-close-btn {
	position: absolute;
	top: 35px;
	right: 10px;
}

@keyframes menuOpen {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes menuClose {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(100%);
	}
}
