.footer {
	padding: 60px 0;
}

.footer-top {
	margin-bottom: 69px;
	display: flex;
	justify-content: space-between;
}

.footer-top__title {
	padding-bottom: 20px;
	font-weight: 500;
	font-size: 35px;
	line-height: 32px;
}

.footer-top__item {
	padding-bottom: 20px;
}

.footer-top__item:last-child {
	padding-bottom: 0;
}

.footer-top__link,
.footer-top__item {
	color: var(--a-link-color);
}

.footer-top__link:hover {
	color: red;
	transition: var(--transition-btn);
}

.footer-content {
	display: flex;
}

.footer-top__icons {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}

.footer__icons-item {
	width: 32px;
	height: 32px;
}

#Facebook:hover path {
	fill: var(--hover-color);
	transition: var(--transition-btn);
}

#LinkedIn:hover path {
	fill: var(--hover-color);
	transition: var(--transition-btn);
}

#Instagram:hover path {
	fill: var(--hover-color);
	transition: var(--transition-btn);
}

.footer-content__links a {
	color: var(--a-link-color);
}

.footer-content__links a:hover {
	color: red;
	transition: var(--transition-btn);
}

.footer-content {
	display: flex;
	justify-content: space-between;
}

.footer-content__links {
	display: flex;
	gap: 15px;
}
