.contact {
	position: relative;
	z-index: 100;
	background-image: url(/src/images/contact/contact-bg.svg);
	background-repeat: no-repeat;
	background-position: top left;
	&-map iframe {
		width: 100%;
		height: 377px;
		border: 0;
	}
	&-map {
		opacity: 0;
		transition: all 5s ease-in-out;
		&.active {
			opacity: 1;
		}
	}
	&-top {
		padding-top: 116px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 116px;
		&__info {
			flex: 0 1 40%;
		}
		&__form {
			flex: 0 1 626px;
		}
	}
	&-info {
		&__title {
			font-weight: 400;
			font-size: 72px;
		}
		&__text {
			font-weight: 400;
			font-size: 30px;
		}
	}
}

.form {
	& * {
		outline: none;
	}
	display: flex;
	flex-wrap: wrap;
	gap: 50px 20px;
	margin-bottom: 1rem;
	position: relative;
	&::after {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: $transition-btn;
		opacity: 0;
		visibility: hidden;
		background: $main-bg-color url(../../images/contact/loader.gif) center /
			100px no-repeat;
	}
	&._sending::after {
		opacity: 1;
		visibility: visible;
	}
	&-input {
		&__btn {
			width: 158px;
			height: 45px;
			padding: 0;
		}
	}
	&-textarea {
		resize: vertical;
		max-height: 500px;
		min-height: 32px;
		flex: 1 1 100% !important;
	}
}

.input,
.select,
.textarea {
	flex: 1 1 300px;
	height: 32px;
	background: transparent;
	border: none;
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
	&:focus::placeholder {
		opacity: 0;
	}
	&:focus {
		box-shadow: 0 0 15px $hover-color;
	}
}

.select option {
	color: #000000;
}
.input::placeholder {
	color: #ffffff;
}

.input,
.select,
.textarea {
	&._error {
		border: 1px solid red;
	}
}

@media screen and (max-width: 1325px) {
	.contact {
		background-image: none;
	}
}

@media screen and (max-width: 1170px) {
	.contact {
		&-top {
			flex-direction: column;
			gap: 50px;
			&__form {
				flex: 0 1 235px;
			}
		}
	}
}

@media screen and (max-width: 780px) {
	.contact {
		&-info {
			&__title {
				font-size: 46px;
				margin-bottom: 10px;
			}
			&__text {
				font-size: 24px;
			}
		}
	}
}
