.review {
	position: relative;
	background-color: var(--bg-grey-color);
	padding: 100px 0;
	z-index: 10;
}

.review::before {
	content: '';
	position: absolute;
	top: 100px;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('/src/images/review/Star 2.svg'), url('/src/images/review/Star 1.svg');
	background-repeat: no-repeat, no-repeat;
	background-position: 0 0, 1650px 820px;
	z-index: -1;
}

.review-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
}

.review-top__title {
	font-weight: 400;
	font-size: 70px;
	flex: 0 0 50%;
}

.review-top__text {
	font-weight: 400;
	font-size: 32px;
	line-height: 38px;
	flex: 0 1 50%;
	text-align: end;
}

.review-content {
	position: relative;
	background-image: url('/src/images/review/review-bg.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	min-height: 817px;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.review-content__btn {
	position: relative;
}

.review-content__btn::after {
	width: 120px;
	height: 120px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	background-image: url(/src/images/review/btn-icon.svg);
	background-repeat: no-repeat;
}
