@import 'src/css/variables';

.title {
	text-transform: uppercase;
	font-size: 72px;
	color: $main-color;
	text-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
}

.btn {
	display: block;
	border: 2px solid #ffffff;
	border-radius: 8px;
	color: $main-color;
	background: transparent;
	cursor: pointer;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	padding: 12px 32px;
	&:hover {
		background-color: rgba(0, 0, 0, 0.25);
		transition: $transition-btn;
		border-color: $hover-color;
	}
	rotate: -180deg;
	transition: all 2s ease-in-out;
	&.active {
		rotate: 0deg;
		transform: translateY(0);
	}
}

.goTopBtn {
	display: none;
	position: fixed;
	right: 30px;
	bottom: 30px;
	width: 50px;
	height: 50px;
	background-color: transparent;
	background-image: url('/src/images/up-arrow.svg');
	background-repeat: no-repeat;
	z-index: 2000;
	&:hover {
		transition: $transition-btn;
		opacity: 0.4;
	}
	&-active {
		display: block;
	}
}

.animate-title{
	&.title {
		transform: translateX(-100%);
		transition: all 1.5s ease-in-out;
		opacity: 0;
	}
	&.title.active {
		transform: translateX(0);
		opacity: 1;
	}
}

.animate-text {
	transform: translateY(-100%);
	transition: all 2s ease-in-out;
	opacity: 0;
	&.active {
		transform: translateY(0);
		opacity: 1;
	}
}



