@import 'css/null.scss';
@import 'css/variables.scss';
@import 'css/common.scss';
@import 'css/fonts.scss';
@import 'css/popup/popup.scss';
@import 'css/header/header.scss';
@import 'css/burger/burger.scss';
@import 'css/about/about.scss';
@import 'css/benefits/benefits.scss';
@import 'css/cars/cars.scss';
@import 'css/review/review.scss';
@import 'css/contact/contact.scss';
@import 'css/footer/footer.scss';

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	color: $main-color;
	min-height: 100vh;
	background-color: $main-bg-color;
}

.lock {
	position: relative;
	overflow: hidden;
}
._lock {
	position: relative;
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container {
	max-width: 1740px;
	padding: 0 10px;
	margin: 0 auto;
	min-height: 100%;
}

header {
	flex: 0 0 150px;
	min-height: 100vh;
	background-image: url('/src/images/header/bg-header.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

main {
	flex: 1 0 auto;
	overflow: hidden;
}

footer {
	flex: 0 0 250px;
}

h1, h2{
	font-family: 'AmericanCaptain', serif;
}
